* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, serif;
    font-weight: 300;
    line-height: 32px;
    font-size: 16px;
    color: #252B42;
}

a {
    color: #232d4d;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {
    color: #122e9b;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    background: #f9f9f9;
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 30px;
}

.main-container {
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    height: 100%;
}

/* ------------------------------------header---------------------------------- */
.header-container {
    background: #C5DDE8;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    padding: 10px 10px;
    list-style: none;
    align-items: center;
}

.nav-item:not(:last-child) {
    margin: 0 15px 0 0;
}

.nav-link {
    text-decoration: none;
    padding: 0 8px;
}

/* ------------------------------------left-side-------------------------------- */
.left-side {
    padding-right: 30px;
    flex: 1 0 35%;
}

.contact-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    padding-inline-start: 0;
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.25));
}

.section-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 129%;
    color: #000000;
    margin: 30px 0;
    background-image: radial-gradient(circle closest-corner at 40% 60%, #dee7ea 30%, transparent);
}

.section-text {
    color: rgb(67, 67, 67);
}

.skills-item {
    list-style: disc;
}

/* -------------------------------------right side-------------------------------- */

.main-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 108%;
    color: #000000;
}


code {
    display: block;
    background-color: #dddddd;
    border-radius: 10px;
    font-family: monospace;
    padding: 20px;
    background-image: radial-gradient(circle closest-corner at 25% 50%, #fff 50%, transparent);
}

/* -------------------------------------footer-------------------------------- */
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin: 0 auto;
    background: #EECFBA;
}

.footer-rsschool > img {
    height: 40px;
    vertical-align: middle;
    background-repeat: no-repeat;
}